<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    /* Your CSS styles for HTML emails */
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
